/* Общие стили для страницы */
html, body {
	height: 100%;
}
html, body, div, form, input, textarea, button, table, tbody, tr, td, hr {
	margin: 0;
	padding: 0;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-size: 12px;
}
html, body, div, input, textarea, button, hr {
	border: 0;
}
*:focus {
	outline: 0;
}
.block_content {
	margin: 0 auto;
	min-width: 1000px;
	max-width: 1000px;
}
button[type=button] {
	cursor: pointer;
	overflow: visible;
	float: left;
}
button[type=button]>span {
	display: block;
}
button[type=button]:hover { 
	box-shadow: 0px 0px 2px 2px rgba(3, 113, 193, 0.5) !important;
}
button[type=button]:active { 
	position: relative !important;
	top: 1px;
	left: 1px;
}
/* Избавляемся от поведения IE с кнопками по умолчанию */
.ie button[type=button]:active>span, .ie9 button[type=button]:active>span  {
	margin: -2px 0px 0px -2px !important;
}
input, #month_name {
	vertical-align: middle;
}
input[type=text], textarea {
	border-top: 1px solid rgba(177, 177, 177, 1);
	border-right: 1px solid rgba(210, 210, 210, 1);
	border-bottom: 1px solid rgba(221, 221, 221, 1);
	border-left: 1px solid rgba(210, 210, 210, 1);
	border-radius: 2px;
	box-shadow: inset 0px 0px 1px 1px rgba(244, 244, 244, 1), inset 0px 1px 1px 0px rgba(208, 208, 208, 1);
	color: black;
	padding-left: 8px;
	overflow-x: hidden;
}
input[type=text] {
	height: 25px;
}
textarea {
	height: 115px;
	padding-top: 5px;
	resize: none;
	overflow: hidden;
}
::-ms-clear {
	display: none;
}
::-webkit-input-placeholder {
	color: #d3d3d3;
	opacity: 1;
}
:-moz-placeholder {
	color: #d3d3d3;
	opacity: 1;
}
::-moz-placeholder {
	color: #d3d3d3;
	opacity: 1;
}
:-ms-input-placeholder {
	color: #d3d3d3 !important;
	opacity: 1;
}
.placeholder {
	color: #d3d3d3 !important;
	opacity: 1;
}

/* Главное меню */
#menu {
	left: 0px;
	top: 0px;
	height: 100px;
	width: 100%;
	background-color: #f4f4f4;
	border-bottom: 1px solid #d1d1d1;
	box-shadow: 0px 2px 2px rgba(0,0,0,.15);
}
#menu_items {
	position: absolute;
	height: 27px;
	width: 100%;
	margin-top: 55px;
	z-index: 3;
}
#block_buttons {
	float: left;
	margin-left: 50px;
}
#block_buttons>button[type=button] {
	height: 27px;
	width: 80px;
	background-color: #0371c1;
	margin-right: 10px;
	border-radius: 3px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}
#block_buttons>button[type=button]>span {
	color: white;
	font-weight: bold;
	font-size: 12px;
	text-shadow: 0px 2px 2px rgba(1, 82, 144, 1);
	filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2, Color=#015290, Positive='true');
}
#block_buttons>button[type=button]:active {
	background-color: rgba(1, 93, 164, 1);
	border-top: 1px solid rgba(1, 47, 82, 1);
	border-right: 1px solid rgba(1, 70, 123, 1);
	border-bottom: 1px solid rgba(1, 85, 150, 1);
	border-left: 1px solid rgba(1, 70, 123, 1);
	border-radius: 2px;
	box-shadow: inset 0px 0px 1px 1px rgba(1, 85, 150, 1), inset 0px 1px 1px 0px rgba(1, 70, 123, 1) !important;
}
#block_buttons>button[type=button]:active>span {
	color: rgba(194, 208, 226, 1) !important;
}
#block_search {
	float: right;
	position: relative;
	margin-right: 50px;
	z-index: 1;
}
#image_search {
	margin-right: 7px;
	vertical-align: middle;
}
#input_search {
	width: 200px;
	padding-right: 15px;
}
#button_search_cancel {
	top: 9px;
	left: 210px;
	cursor: pointer;
    padding-right: 8px; 
	background-image: url(../images/glyphicons_207_remove_2_8.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    height: 8px; 
	position: absolute;
}
#button_search_cancel:hover {
	background-image: url(../images/glyphicons_207_remove_2_8_black.png);
}

/* Блок с календарем */
#calendar_block {
	margin: 15px 50px;
	width: auto;
}
#menu_calendar, #menu_calendar button[type=button], #current_month {
	height: 18px;
	background-color: white;
	float: left;
	margin-right: 8px;
	text-align: center;
}
#current_month  {
	width: 130px;
}
#button_previous, #button_next, #button_today {
	color: #666666;
	border: 1px solid #ebebeb;
	box-shadow: inset 0 0 2px 1px #efefef;
	border-radius: 5px;
}
#button_previous, #button_next {
	width: 18px;
	font-size: 7px;
}
#button_today {
	width: 58px;
	font-size: 10px;
}
#month_name {
	font-size: 17px;
}
#table_calendar table, #table_calendar td {
	border: 1px solid #ebebeb;
}
#table_calendar {
	height: 100%;
	width: 100%;
	float: left;
	table-layout: fixed;
	margin-top: 15px;
	border-collapse: collapse;
}
#table_calendar tr, #table_calendar td {
	height: 128px;
}
#table_calendar td {
	width: 128px;
	position: relative;
	cursor: pointer;	
}
#table_calendar td div {
	height: 128px;
	font-size: 11px;
}
#table_calendar td div>div>div {
	overflow: hidden;
}
.day_name>span {
	display: block;
	padding: 10px 8px 0px 8px;
}
.day_name>span:nth-child(1) {
	color: #999999;
}
.day_name>span:nth-child(2) {
	color: #666666;
	font-weight: bold;
}
.day_name>span:nth-child(3) {
	color: #666666;
}
.today {
	background-color: #f4f4f4;
	color: #666666;
	font-weight: bold;
}
.selected {
	background-color: #e5f1f9;
	position: relative;
	z-index: 1;
}
.selected .day_name {
	outline: 2px solid rgba(39, 161, 255, 0.5);
}
.has_event {
	background-color: #c2e4fe;
}

/* Всплывающие окна */
.popup {
    position: absolute;
	cursor: default;
    top: 0px;
    left: 0px;
    font-size: 13px;
    background-color: white;
    display: none;
    border: 1px solid rgba(204, 204, 204, 1);
	box-shadow: 0px 2px 7px rgba(169, 169, 169, 1);
	border-radius: 1px;
	z-index: 5;
	border-collapse: separate;
}
.button_popup_cancel {
	height: 8px !important;
	width: 8px !important;
    position: relative;
    cursor: pointer;
    margin: 0;
    float: right;
    z-index: 25;
	margin: 10px 10px 0px 0px;
    padding-right: 8px; 
	background-image: url(../images/glyphicons_207_remove_2_8.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.button_popup_cancel:hover {
	background-image: url(../images/glyphicons_207_remove_2_8_black.png);
}
.popup>input[type=text], .popup>textarea, .popup>span {
	float: left;
	width: 258px;
	margin-left: 20px;
}
.popup>button[type=button] {
	height: 17px;
	border: 1px solid #9c9c9c;
	color: black;
	font-weight: bold;
	margin-right: 10px;
	border-radius: 4px;
	font-size: 10.5px;
	box-shadow: 0px 1px 0px rgba(240, 240, 240, 1);
	background: rgb(255, 255, 255);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2VjZWNlYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 50%
										, rgba(236, 236, 236, 1) 51%, rgba(242, 242, 242, 1) 100%);
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 50%
										, rgba(236, 236, 236, 1) 51%, rgba(242, 242, 242, 1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(50%, rgba(245, 245, 245, 1))
															  , color-stop(51%, rgba(236, 236, 236, 1)), color-stop(100%, rgba(242, 242, 242, 1)));
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 50%
										   , rgba(236, 236, 236, 1) 51%, rgba(242, 242, 242, 1) 100%);
	background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 50%
									  , rgba(236, 236, 236, 1) 51%, rgba(242, 242, 242, 1) 100%);
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 50%
									   , rgba(236, 236, 236, 1) 51%, rgba(242, 242, 242, 1) 100%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 50%
										 , rgba(236, 236, 236, 1) 51%, rgba(242, 242, 242, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2', GradientType=0);
}

/* Быстрое добавление */ 
#popup_quick_add_event {
    margin: 40px 50px;
    height: 100px;
    width: 306px;
}
#popup_quick_add_event:before, #popup_quick_add_event:after, #popup_search:before, #popup_search:after {
	content: '';
	position: absolute;
	background: white;
}
#popup_quick_add_event:after, #popup_search:after  {
    width: 20px;
	height: 10px;
	top: 0px;
	left: 16px;
	z-index: 15;
}
#popup_quick_add_event:before, #popup_search:before {
	width: 10px;
	height: 10px;
	top: -6px;
	left: 20px;
	border: 1px solid rgba(204, 204, 204, 1);
	box-shadow: 0px 0px 5px rgba(169, 169, 169, 1);
	z-index: 10;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
#input_quick_add_event {
	margin-top: 25px;
}
#button_quick_add_event {
	margin: 12px 0px 0px 20px;
	width: 60px;
}

/* Всплывающее окно добавления */
#popup_add_event {
    height: 330px !important;
    width: 303px !important;
}
#popup_add_event:before, #popup_add_event:after {
	content: '';
	position: absolute;
	background: white;
}
#popup_add_event:before {
	border: 1px solid rgba(204, 204, 204, 1);
	box-shadow: 0px 0px 5px rgba(169, 169, 169, 1);
	z-index: 10;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
#popup_add_event:after {
	z-index: 15;
}
/* Левый верхний угол */
#table_calendar tr:nth-child(-n+4) td:nth-child(-n+4) #popup_add_event {
    margin-left: 141px;
	margin-top: -20px;
}
#table_calendar tr:nth-child(-n+4) td:nth-child(-n+4) #popup_add_event:after {
    width: 15px;
	height: 30px;
	top: 20px;
	left: 0px;
}
#table_calendar tr:nth-child(-n+4) td:nth-child(-n+4) #popup_add_event:before {
	width: 11px;
	height: 11px;
	top: 25px;
	left: -5.5px;
}
/* Правый верхний угол */
#table_calendar tr:nth-child(-n+4) td:nth-child(n+5) #popup_add_event {
    margin-left: -315px;
	margin-top: -20px;
}
#table_calendar tr:nth-child(-n+4) td:nth-child(n+5) #popup_add_event:after {
    width: 15px;
	height: 30px;
	top: 20px;
	left: 286px;
}
#table_calendar tr:nth-child(-n+4) td:nth-child(n+5) #popup_add_event:before {
	width: 10px;
	height: 10px;
	top: 25px;
	left: 294.5px;
}
/* Правый нижний угол */
#table_calendar tr:nth-child(n+5) td:nth-child(n+5) #popup_add_event {
    margin-left: -315px;
	margin-top: -290px;
}
#table_calendar tr:nth-child(n+5) td:nth-child(n+5) #popup_add_event:after {
    width: 15px;
	height: 30px;
	top: 290px;
	left: 286px;
}
#table_calendar tr:nth-child(n+5) td:nth-child(n+5) #popup_add_event:before {
	width: 10px;
	height: 10px;
	top: 295px;
	left: 294.5px;
}
/* Левый нижний угол */
#table_calendar tr:nth-child(n+5) td:nth-child(-n+4) #popup_add_event {
    margin-left: 141px;
	margin-top: -290px;
}
#table_calendar tr:nth-child(n+5) td:nth-child(-n+4) #popup_add_event:after {
    width: 15px;
	height: 30px;
	top: 290px;
	left: 0px;
}
#table_calendar tr:nth-child(n+5) td:nth-child(-n+4) #popup_add_event:before {
	width: 10px;
	height: 10px;
	top: 295px;
	left: -5.5px;
}

/* Элементы добавления */
#input_add_event_name {
	margin-top: 25px;
	font-size: 16px;
	font-weight: bold;
}
#input_add_event_date, #input_add_event_participants {
	margin-top: 6px;
}
#input_add_event_description {
	margin-top: 38px;
}
#button_add_event {
	margin: 23px 0px 0px 20px;
	width: 52px;
}
#button_delete_event {
	margin: 23px 0px 0px 13px;
	width: 60px;
}

/* Поиск */
#popup_search {
    margin: 40px 0px 0px 24px;
    height: auto;
    width: 214px;
	z-index: 15;
}
#block_content_popup_search {
	position: relative;
	margin-bottom: 5px;
	z-index: 20;
}
#block_content_popup_search>.jspContainer>.jspPane>div:hover {
	background-color: #27A1FF;
}
#block_content_popup_search>.jspContainer>.jspPane>div:hover>span {
	color: white !important;
}
#block_content_popup_search>.jspContainer>.jspPane>span {
	margin: 5px auto;
	position: relative;
	text-align: center;
	font-size: 11px;
	display: block;
	color: #999999;
}
#block_content_popup_search>.jspContainer>.jspPane>div {
	margin: 5px 0px 0px 5px;
	height: 39px;
	width: 187px;
	cursor: pointer;
	position: relative;
}
#block_content_popup_search>.jspContainer>.jspPane>div>span {
	padding-top: 4px;
	padding-left: 7px;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	z-index: 20;
}
#block_content_popup_search>.jspContainer>.jspPane>div>span:nth-child(1)  {
	color: black;
	font-size: 12px;
	font-weight: bold;
}
#block_content_popup_search>.jspContainer>.jspPane>div>span:nth-child(2)  {
	color: #666666;
	font-size: 11px;
}
#block_content_popup_search>.jspContainer>.jspPane>div>span:nth-child(3)  {
	top: 0px;
	left: 137px;
	padding: 0px;
	height: 100%;
	width: 50px;
	position: absolute;
	z-index: 25;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0))
															, color-stop(75%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
	background: -webkit-linear-gradient(left,  rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1) 100%);
	background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1) 100%);
	background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1) 100%);
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1);

}
#block_content_popup_search>.jspContainer>.jspPane>div:hover>span:nth-child(3) {
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI3YTFmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iIzI3YTFmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyN2ExZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left, rgba(39, 161, 255, 0) 0%, rgba(39, 161, 255, 1) 75%, rgba(39, 161, 255, 1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(39, 161, 255, 0))
															, color-stop(75%, rgba(39, 161, 255, 1)), color-stop(100%, rgba(39, 161, 255, 1)));
	background: -webkit-linear-gradient(left, rgba(39, 161, 255, 0) 0%, rgba(39, 161, 255, 1) 75%, rgba(39, 161, 255, 1) 100%);
	background: -o-linear-gradient(left, rgba(39, 161, 255, 0) 0%, rgba(39, 161, 255, 1) 75%, rgba(39, 161, 255, 1) 100%);
	background: -ms-linear-gradient(left, rgba(39, 161, 255, 0) 0%, rgba(39, 161, 255, 1) 75%, rgba(39, 161, 255, 1) 100%);
	background: linear-gradient(to right, rgba(39, 161, 255, 0) 0%, rgba(39, 161, 255, 1) 75%, rgba(39, 161, 255, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0027a1ff', endColorstr='#27a1ff',GradientType=1);
}
hr {
	height: 1px;
	width: 181px;
	margin: 5px 0px 0px 9px;
	background-color: #ebebeb;
}
.scroll-pane {
	width: 100%;
	height: 100%;
	max-height: 394px;
	overflow: auto;
}
#button_search_clear {
	float: right;
	position: absolute;
}